{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <form method="post">{% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                </div>
            {% endfor %}
            <input name="created_by" type="hidden" value={{ request.user.id }}>
            <input type="submit" value="Save" class="btn btn-primary">
        </form>
    </div>
{% endblock %}